html, body, #root, #main {
  height: 100%;
  margin: 0;
  max-width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  height: 2em;
}

svg {
  height: calc(100% - 3em);
  max-width: 100%;
}

#settings {
  width: 30%;
  min-width: 16em;
}

.line {
  display: flex;
  justify-content: space-between;
}

input {
  width: 4em;
}
